body{
  display: flex;
}
.main{
  width:300px;
  border: solid 3px black;
  margin: auto;
  padding: 10px;
}
.input{
  display: flex;
  margin-bottom: 10px;
}
.display{
  height: 30px;
  width: 270px;
  margin: auto;
}
.keys{
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: space-around;  
}
.initialRow
{ 
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.initialButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  border: 2px solid blue;
  height: 30px;
  font: 20px bold;

}
.button,
.addButton{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 45px;
  padding: 10px;
  font: 20px bold;
}
.addButton{
  height: 70px;
  text-align: center;
  font: 20px bold;

}